/* Website Template by freewebsitetemplates.com */
@font-face {
	font-family: 'poller_oneregular';
	src: url('../fonts/pollerone/pollerone-webfont.eot');
	src: url('../fonts/pollerone/pollerone-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/pollerone/pollerone-webfont.woff') format('woff'),
		 url('../fonts/pollerone/pollerone-webfont.ttf') format('truetype'),
		 url('../fonts/pollerone/pollerone-webfont.svg#poller_oneregular') format('svg');
}
@font-face {
	font-family: 'leckerli_oneregular';
	src: url('../fonts/leckerlione/leckerlione-regular-webfont.eot');
	src: url('../fonts/leckerlione/leckerlione-regular-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/leckerlione/leckerlione-regular-webfont.woff') format('woff'),
		 url('../fonts/leckerlione/leckerlione-regular-webfont.ttf') format('truetype'),
		 url('../fonts/leckerlione/leckerlione-regular-webfont.svg#leckerli_oneregular') format('svg');
}

::-webkit-scrollbar {
	display: none;
}

input[type="file"] {
	display: none;
  }

#body .form form #text-white input{
	color: #fff;
}

body {
	background: #fff;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: normal;
	line-height: 1;
	margin: 0;
	min-width: 960px;
	padding: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.artist-bg{
	background-image: url(../images/collage.png);
	background-size: contain;
	background-blend-mode: darken;
	background-repeat: no-repeat;
	display: flex;
	height: 60.9vh;
	background-repeat: repeat;
}
img {
	filter: grayscale(100%);
}
p {
	color: #252525;
	line-height: 24px;
	margin: 0;
	padding: 0;
}
p a {
	color: #252525;
}
p a:hover {
	color: #898989;
}
#header {
	background-color: #252525;
	position: sticky;
	z-index: 999;
	top: 0;
	margin: 0 auto;
	padding: 1em 0;
	text-align: center;
	width: 100%;
	display: flex;
	border-radius: 0 0 15px 15px;
	justify-content: space-between;
	align-items: center;
}
#header a.logo {
	display: block;
	margin: 0 4em;
	padding-bottom: 1em;
	display: flex;
	width: 100%;
}
#header a.logo img {
	height: 5vw;
	background-color: transparent;
	border: 0;
	display: block;
	margin: 0;
	padding: 0;
}
#header ul {
	display: flex;
	justify-content: space-evenly;
	margin: 0 4em;
}
#header ul li {
	display: inline;
	list-style: none;
	margin: 0;
	padding: 0 19px;
}
#header ul li a {
	color: #fff;
	display: inline-block;
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 0.85em;
	font-weight: normal;
	margin: 0;
	padding: 0 0 3px;
	text-decoration: none;
	text-transform: uppercase;
	transition: all 200ms ease-in-out;
}
#header ul li a:hover, #header ul li.selected a {
	color: #0ba39c;
}
#body {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	margin: 3em 0;
	padding: 0 0 30px;
	text-align: center;
	align-items: center;
}
#body h1 {
	color: #fff;
	display: inline;
	font-family: poller_oneregular;
	font-size: 35px;
	font-weight: normal;
	margin: 0;
	padding: 0;
	text-transform: uppercase;
}
#body h1 span {
	background: #252525;
	display: inline-block;
	padding: 15px 28px 12px;
}
#body > div {
    align-items: stretch; /* Ensure items stretch to the same height */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
    margin: 3em auto;
    max-width: 100%; /* Optional: Limit the overall width */
}

#body > div img {
    border-radius: 15px;
    border: 2px solid #292929;
    margin: 0 4em;
    padding: 0;
    height: auto; /* Reset to allow natural scaling */
    max-height: 45em; /* Constrain image to the parent's height */
    object-fit: cover; /* Ensure proportions are preserved */
    flex: 1; /* Allow the image to take up available space */
}

#body > div .article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px 30px 0;
    width: 560px;
}

#body h1 span {
    background-color: #fff;
    color: #252525;
}

#body > div .article h2 {
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 25px;
	font-weight: normal;
	margin: 0 0 30px;
}
#body > div .article h3 {
	text-align: left;
	color: #252525;
	line-height: 24px;
	margin: 0;
	font-size: 1.5em;
	padding: 0;
}
#body > div .article h4 {
	background: #252525;
	color: #fff;
	display: inline-block;
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 25px;
	font-weight: normal;
	margin: 0 0 30px;
	padding: 8px 27px 10px;
}
#body > div .article p {
	font-size: 1em;
	text-align: left;
	margin: 0 0 30px;
}
#body div ul {
	margin: 0;
	padding: 24px 10px 0;
	width: 940px;
}
#body div ul li {
	border: 2px solid #1a1a1a;
	display: block;
	list-style: none;
	margin: 0 0 13px;
	overflow: hidden;
	padding: 0;
}
#body div ul li .figure {
	border-right: 2px solid #1a1a1a;
	float: left;
	margin: 0;
	padding: 0;
	width: 376px;
}
#body div ul li img {
	border: 0;
	display: block;
	margin: 0;
	padding: 0;
	opacity: 0.8;
	transition: 0.5s ease-in-out;
}
#body div ul li .figure:hover img {
	opacity: 1;
}
#body div ul li div {
	float: left;
	margin: 0;
	padding: 63px 0 20px;
	width: 558px;
}
#body div ul li div h3 {
	color: #252525;
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 25px;
	font-weight: normal;
	margin: 0;
	padding: 0;
	text-transform: uppercase;
}
#body div ul li div p {
	padding: 30px 30px 18px;
}
#body div ul li div a.more {
	background: #000;
	color: #fff;
	display: inline-block;
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 18px;
	font-weight: normal;
	margin: 0;
	padding: 8px 28px;
	text-decoration: none;
	text-transform: uppercase;
}
#body div ul li div a.more:hover {
	color: #252525;
	background: #fff;
	border: 2px solid #252525;
}
#body #featured {
	mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1.0) 70%, transparent 100%);
	background-image: url(../images/the-beacon.jpg);
	background-size: cover;
	background-blend-mode: darken;
	background-repeat: no-repeat;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	margin-top: -3em;
	padding: 5em 0 5em 0;
	width: 100vw;
	height: 80vh;
}
#body #featured div {
	display: flex;
	flex-direction: column;
	width: fit-content;
	height: fit-content;
	text-align: center;
	font-size: 1em;
	padding: 1em;
	border-radius: 15px;
}
#body #featured div h2 {
	border-radius: 15px 15px 0 0;
	text-align: left;
	background: #fff;
	color: #000;
	display: inline-flex;
	font-family: poller_oneregular;
	font-size: 1.5em;
	font-weight: normal;
	text-transform: uppercase;
	margin: 0;
	padding: 1em;
}
#body #featured div span {
	padding: 1em;
	background: #252525;
	color: #fff;
	font-size: 1em;
}
#body #featured div a {
	padding: 1em;
	background: #1fc3bc;
	color: #fff;
	display: inline-block;
	font-size: 1em;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	border-radius: 0 0 15px 15px;
	transition: all 200ms ease-in-out;
}
#body #featured div a:hover {
	background: #4084d1;
}
#body > ul {
	display: flex;
	justify-content: space-evenly;
	margin: 10em auto;
	overflow: hidden;
	padding: 24px 0 0;
	width: 100%;
}
#body > ul li {
	display: flex;
	justify-content: space-evenly;
	margin: 0 10px 20px;
	padding: 0;
	width: 300px;
}
#body > ul li a {
	color: #000;
	display: block;
	font-family: poller_oneregular;
	font-size: 20px;
	font-weight: normal;
	margin: 0;
	padding: 0;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
}
#body > ul li a img {
	width: 100%;
	height: 14em;
	object-fit: cover;
	border: 2px solid #1a1a1a;
	margin: 0;
	padding: 0;
	opacity: .8;
	transition: 0.5s ease-in-out;
}
#body > ul li a:hover img {
	opacity: 1;
}
#body > ul li a span {
	display: block;
	margin: 0;
	padding: 33px 0 0;
}
#body form {
	margin: 0 auto;
	padding: 24px 0 0;
	width: 620px;
}
#body form input, #body form textarea {
	border: 2px solid #252525;
	color: #fff;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-weight: normal;
	margin: 0 0 37px;
	padding: 20px 10px;
	text-align: center;
	text-transform: uppercase;
	width: 596px;
}
#body .gallery {
	margin-top: -1em;
	display: flex;
	width: 80%;
	flex-wrap: wrap;
	gap: 3em;
}
#body .gallery img{
	aspect-ratio: 1;
	max-height: 40vh;
	width: 100%;
	height: 100%;
}
#body .form{
	width: max-content;
	background-color: #252525;
	padding: 2em;
	border-radius: 15px;
	display: flex;
	flex-direction: column;
	color: #fff;
}
#body .form form{
	display: flex;
	flex-direction: column;
	text-align: left;
}
#body .form div{
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 1em 0;
}
#body .form button{
	width: 30%;
	margin: 0 auto;
	padding: 0.5em;
	border-radius: 10px;
	border: 0;
	justify-content: center;
	transition: all 200ms ease-in-out;
}
#body .form button:hover{
	background-color: #1fc3bc;
}
#body .form form label{
	width: 30%;
	font-size: 1.5em;
	margin: 0 0 0.5em 0.2em;
}
#body .form form div input{
	color: #252525;
	margin: 0;
	display: flex;
	text-align: left;
	border-radius: 10px;
	width: 50%;
	font-size: 1em;
	padding: 0.8em;
	text-transform: none;
}
#body .form form p{
	color: #ff0000;
	margin: 0 0.3em;
}
#body .form form .checkbox-container{
	display: flex; 	
	justify-content:start;
}
#body .form form .checkbox-container input{
	height: 100%;
	width: 10%;
}
.submit button {
    background-color: #1a0c44;
    color: white;
    font-size: 18px;
    padding: 12px 20px;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    width: 100%;
    transition: background-color 0.3s;
}	
#footer {
	background: #252525;
	margin: 0;
	padding: 36px 0 42px;
	height: fit-content;
}
#footer div {
	display: flex;
	justify-content: space-between;
	overflow: hidden;
	padding: 0;
	width: 100%;
}
#footer div p {
	color: #fff;
	float: left;
	padding: 0;
	margin: 0 3em;
}
#footer div ul {
	display: flex;
	justify-content: space-evenly;
	float: right;
	margin: 0 3em;
	overflow: hidden;
	padding: 0;
	width: 256px;
}
#footer div ul li {
	display: block;
	float: left;
	list-style: none;
	margin: 0 1em;
	padding: 0;
	width: 44px;
}
#footer div ul li a {
	background: url(../images/icons.jpg) no-repeat 0 0;
	display: block;
	height: 44px;
	margin: 0;
	padding: 0;
	text-indent: -99999px;
	width: 44px;
}
#footer div ul li #twitter {
	background-position: 0 0;
}
#footer div ul li #twitter:hover {
	background-position: -44px 0;
}
#footer div ul li #facebook {
	background-position: 0 -44px;
}
#footer div ul li #facebook:hover {
	background-position: -44px -44px;
}
#footer div ul li #googleplus {
	background-position: 0 -88px;
}
#footer div ul li #googleplus:hover {
	background-position: -44px -88px;
}
#footer div ul li #pinterest {
	background-position: 0 -132px;
}
#footer div ul li #pinterest:hover {
	background-position: -44px -132px;
}
